@page "/tickets-pooling"

@implements IDisposable
@rendermode InteractiveServer

@using Amazon.DynamoDBv2
@using Amazon.DynamoDBv2.Model
@using TicketBooking.Domain.Entities
@using MudBlazor
@inject IAmazonDynamoDB DynamoDb
@attribute [StreamRendering]

<MudText Typo="Typo.h4" Class="mb-4">Monitoramento de Reservas</MudText>

<h3>Por gentileza use o <a href="/tickets-socket"><u>Dashboard mais atual (Clique aqui)</u></a> </h3>

@if (_tickets == null)
{
    <MudProgressLinear Color="MudBlazor.Color.Primary" Indeterminate="true" />
}
else
{
    <MudTable Items="@_tickets" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading">
        <HeaderContent>
            <MudTh>Evento</MudTh>
            <MudTh>Assento</MudTh>
            <MudTh>Status</MudTh>
            <MudTh>Última Atualização</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Evento">@context.EventId</MudTd>
            <MudTd DataLabel="Assento">@context.TicketId</MudTd>
            <MudTd DataLabel="Status">
                <MudChip T="string" Color="@GetStatusColor(context.Status)" Variant="Variant.Filled">
                    @context.Status
                </MudChip>
            </MudTd>
            <MudTd DataLabel="Atualizado">@context.UpdatedAt.ToString("G")</MudTd>
        </RowTemplate>
    </MudTable>

    <div class="d-flex align-right gap-4 mb-4">
        <MudChip T="string" Variant="Variant.Text" Color="Color.Info" Icon="@Icons.Material.Filled.Timer">
            Próxima atualização em: @_countdown s
        </MudChip>
    </div>

    <MudPaper Class="pa-4">
        <MudChart ChartType="ChartType.Donut" Width="300px" Height="300px" InputData="@chartData"
            ChartOptions="@(new ChartOptions { ChartPalette = chartColors })" InputLabels="@chartLabels">
            <CustomGraphics>
                <text class="donut-inner-text" x="50%" y="42%" dominant-baseline="middle" text-anchor="middle" fill="white"
                    font-family="Helvetica" font-size="6px">Total</text>
                <text class="donut-inner-text" x="50%" y="58%" dominant-baseline="middle" text-anchor="middle" fill="white"
                    font-family="Helvetica" font-size="7px">@chartData.Sum().ToString()</text>
            </CustomGraphics>
        </MudChart>
    </MudPaper>
}


@code {
    protected override async Task OnInitializedAsync()
    {
        await LoadData();
        _cts = new CancellationTokenSource();
        _ = PeriodicRefreshAsync();
    }

    private async Task PeriodicRefreshAsync()
    {
        while (!_cts.Token.IsCancellationRequested)
        {
            for (int i = PollingInterval; i > 0; i--)
            {
                _countdown = i;
                StateHasChanged();
                await Task.Delay(1000, _cts.Token);
            }
            await LoadData();
            _countdown = PollingInterval;
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task LoadData()
    {
        _loading = true;
        var response = await DynamoDb.ScanAsync(new ScanRequest { TableName = "Tickets" });

        _tickets = response.Items.Select(item => new Ticket
        {
            EventId = item.ContainsKey("PK") ? item["PK"].S.Replace("EVENT#", "") : "N/A",
            TicketId = item.ContainsKey("SK") ? item["SK"].S.Replace("TICKET#", "") : "N/A",
            Status = item.ContainsKey("Status") ? item["Status"].S : "Unknown",
            UpdatedAt = item.ContainsKey("UpdatedAt") ? DateTime.Parse(item["UpdatedAt"].S) : DateTime.Now
        }).ToList();
        UpdateChartData();

        _loading = false;
    }

    private void UpdateChartData()
    {
        if (_tickets == null) return;

        int vip = _tickets.Count(s => s.TicketId.Contains("VIP", StringComparison.OrdinalIgnoreCase));
        int normal = _tickets.Count(s => !s.TicketId.Contains("VIP", StringComparison.OrdinalIgnoreCase));

        chartData = new[] { (double)vip, (double)normal };
        chartLabels = new[] { $"Vip {vip} ", $"Normal {normal} " };

        StateHasChanged();
    }

    private MudBlazor.Color GetStatusColor(string status) => status switch
    {
        "Reserved" => MudBlazor.Color.Warning,
        "Canceled" => MudBlazor.Color.Error,
        "Confirmed" => MudBlazor.Color.Success,
        _ => MudBlazor.Color.Default
    };

    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose();
    }

    const int PollingInterval = 12;
    private int _countdown = PollingInterval;
    private CancellationTokenSource _cts = new();
    private string[] chartColors = { "#FFD700", "#1E88E5" };

    private List<Ticket>? _tickets;
    private bool _loading = true;
    private double[] chartData = { 0, 0 };
    private string[] chartLabels = { "VIP", "Normal" };

}