@page "/tickets-socket"
@using Microsoft.AspNetCore.SignalR.Client
@using TicketBooking.Domain.Entities
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@implements IAsyncDisposable
@rendermode InteractiveServer
@* @inject HttpClient Http *@
@inject IHttpClientFactory ClientFactory

<MudText Typo="Typo.h4" Class="mb-5">Tickets Dashboard</MudText>

@if (_tickets == null)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true"/>
}
else
{
    <div class="d-flex align-items-center mb-4 gap-2">
        <label for="cbxEvent"><h5>Event</h5></label>
        <select id="cbxEvent" @onchange="OnEventSelected" class="form-control" style="max-width: 360px;">
            <option value="">Select an event...</option>
            @foreach (var id in _events)
            {
                <option value="@id">@id</option>
            }
        </select>
    </div>

    @if (!string.IsNullOrEmpty(_selectedEvent))
    {
        <div class="row mt-4 mb-2">
            <div class="col-md-6 text-center">
                <h5>Status</h5>
                <MudPaper Class="pa-4">
                    <MudChart ChartType="ChartType.Donut" Width="300px" Height="300px" InputData="@_chartStatusData"
                              ChartOptions="@(new ChartOptions { ChartPalette = _chartStatusColors })"
                              InputLabels="@_chartStatusLabels">
                        <CustomGraphics>
                            <text class="donut-inner-text" x="50%" y="42%" dominant-baseline="middle" text-anchor="middle"
                                  fill="white"
                                  font-family="Helvetica" font-size="6px">Total
                            </text>
                            <text class="donut-inner-text" x="50%" y="58%" dominant-baseline="middle" text-anchor="middle"
                                  fill="white"
                                  font-family="Helvetica" font-size="7px">@_chartStatusData.Sum().ToString()</text>
                        </CustomGraphics>
                    </MudChart>
                </MudPaper>
            </div>

            <div class="col-md-6 text-center">
                <h5>Type</h5>
                <MudPaper Class="pa-4">
                    <MudChart ChartType="ChartType.Donut" Width="300px" Height="300px" InputData="@_chartTypeData"
                              ChartOptions="@(new ChartOptions { ChartPalette = _chartTypeColors })"
                              InputLabels="@_chartTypeLabels">
                        <CustomGraphics>
                            <text class="donut-inner-text" x="50%" y="42%" dominant-baseline="middle" text-anchor="middle"
                                  fill="white"
                                  font-family="Helvetica" font-size="6px">Total
                            </text>
                            <text class="donut-inner-text" x="50%" y="58%" dominant-baseline="middle" text-anchor="middle"
                                  fill="white"
                                  font-family="Helvetica" font-size="7px">@_chartTypeData.Sum().ToString()</text>
                        </CustomGraphics>
                    </MudChart>
                </MudPaper>
            </div>
        </div>

        <MudTable Items="@_tickets" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading">
            <HeaderContent>
                <MudTh>Event</MudTh>
                <MudTh>Ticket</MudTh>
                <MudTh>Status</MudTh>
                <MudTh>Updated</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Event">@context.EventId</MudTd>
                <MudTd DataLabel="Ticket">@context.TicketId</MudTd>
                <MudTd DataLabel="Status">
                    <MudChip T="string" Color="@GetStatusColor(context.Status)" Variant="Variant.Outlined">
                        @context.Status
                    </MudChip>
                </MudTd>
                <MudTd DataLabel="Updated">@context.UpdatedAt.ToString("G")</MudTd>
            </RowTemplate>
        </MudTable>
    }
}

@code {

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(">>> On InitializedAsync");

        _http = ClientFactory.CreateClient("API");

        //initial loading
        await LoadData();

        _hubConnection = new HubConnectionBuilder()
            .WithUrl("http://localhost:5070/tickethub")
            .WithAutomaticReconnect()
            .Build();

        _hubConnection.On<object>("TicketUpdated", async (data) =>
        {
            Console.WriteLine($">>> SINAL RECEBIDO! Conteúdo: {data}");
            string eventId = data?.ToString() ?? string.Empty;
            if (eventId == _selectedEvent)
            {
                await LoadData(false, true);
            }
        });

        try
        {
            await _hubConnection.StartAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Erro ao conectar no Hub da API: {ex.Message}");
        }
    }

    private async Task LoadData(bool events = true, bool tickets = true)
    {
        _loading = true;
        try
        {
            if (events)
                await GetEvents();
            if (tickets)
            {
                await GetTickets();
                await GetChartData();
            }
        }
        catch (Exception ex)
        {
            //TODO: log
            Console.WriteLine($"Error loading data: {ex.Message}");
        }
        finally
        {
            _loading = false;
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task GetChartData()
    {
        if (_tickets == null || _selectedEvent == null) return;

        //TODO: url in config
        _eventStats = await _http.GetFromJsonAsync<EventStats>($"http://localhost:5070/api/events/stats/{_selectedEvent}");
        if (_eventStats == null)
            _eventStats = new EventStats("", 0, 0, 0, 0);

        int vip = _tickets.Count(t => t.IsVip);
        int normal = _tickets.Count(t => !t.IsVip);

        _chartTypeData = [(double)vip, (double)normal];
        _chartTypeLabels = [$"Vip {vip} ", $"GA {normal} "];

        _chartStatusData = [(double)_eventStats.Confirmed, (double)_eventStats.Reserved, (double)_eventStats.Available];
        _chartStatusLabels = [$"Confirmed {_eventStats.Confirmed} ", $"Reserved {_eventStats.Reserved} ", $"Available {_eventStats.Available} "];
    }

    private async Task GetEvents()
    {
        _events = [];
        try
        {
            //TODO: url in config
            var data = await _http.GetFromJsonAsync<List<string>>($"http://localhost:5070/api/events");
            if (data != null) _events = data;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Erro ao buscar eventos: {ex.Message}");
        }
    }

    private async Task GetTickets()
    {
        _tickets = [];

        if (_selectedEvent == null) return;

        try
        {
            var client = ClientFactory.CreateClient("API");
            Console.WriteLine($"Header Auth: {client.DefaultRequestHeaders.Authorization?.Parameter}");
            //TODO: url in config
            var data = await _http.GetFromJsonAsync<List<Ticket>>($"http://localhost:5070/api/tickets/{_selectedEvent}");
            if (data != null) _tickets = data;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Erro ao buscar assentos: {ex.Message}");
        }
    }

    private async Task OnEventSelected(ChangeEventArgs e)
    {
        _selectedEvent = e.Value?.ToString();
        await LoadData(false, true);
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }

    private static MudBlazor.Color GetStatusColor(string status) => status switch
    {
        "Reserved" => Color.Warning,
        "Available" => Color.Info,
        "Confirmed" => Color.Success,
        _ => Color.Default
    };

    private HubConnection? _hubConnection;
    private List<Ticket>? _tickets;
    private List<string> _events = [];
    private EventStats? _eventStats;
    private string? _selectedEvent;
    private bool _loading = true;

    private double[] _chartTypeData = [0, 0];
    private string[] _chartTypeLabels = ["VIP", "GA"];
    private readonly string[] _chartTypeColors = ["#FFD700", "#771cff"];

    private double[] _chartStatusData = [0, 0, 0];
    private string[] _chartStatusLabels = ["Confirmed", "Reserved", "Available"];
    private readonly string[] _chartStatusColors = ["#00C853", "#ffa200", "#2196F3"];
    private HttpClient _http = null!;
}
